{% extends "base.html.twig" %}
    {% block body %}
                      {% block topmenu %}
                          <nav class="navbar navbar-default">
                            <div class="container-fluid">
                            <div class="navbar-header">
                            <a href='/'>
                              <img src="img/logo.png" alt="logo" style="max-height:50px;" />
                            </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                              <form class="navbar-form navbar-right">
                              <div class="form-group">
                                <div>Client : {{ username }}</div>
                              </form>
                            </div>
                            </div>
                          </nav>
                      {% endblock %}

                      <div class="container">
                        <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="row">
                                  <div class="col-md-12">

                                    {{results['Modele']}}

                                  </div>
                                </div>
                              </div>
                              <div class="panel-body">
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th>Modules</th>
                                      <th class="text-center" scope="row">{{ results['Gamme']}}</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>

                                    {% for Module in results['Module'] %}
                                    <tr>
                                    <td> {{ Module.Nom }} </td>
                                    <td class="text-center" scope="row"><span class="glyphicon glyphicon-ok"></span></td>
                                    <td>
                                      <input id="checkbox" type="checkbox" checked>
                                    </td>
                                  </tr>
                                {% endfor %}



                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-5">
                            <div class="panel panel-default">
                            {% for Module in results['Module'] %}
                              <div class="panel-heading">
                                <div class="row">

                                  <div class="col-md-12">
                                    <a data-toggle="collapse" href="#collapse1">Module {{ Module.Nom }}</a>
                                  </div>
                                </div>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <table class="table table-striped">
                                  <tbody>
                                    <tr>{% for truc in Module %}

                                    {% for bidule in truc %}


                                      <td>{{ bidule['Nom']}} </td>
                                      <td scope="row"><select class="selectpicker">
                                      {% for element in bidule['Matiere'] %}
                                      <option>{{ element}}</option>
                                      {% endfor %}
                                      </td>
                                      <td scope="row"><select class="selectpicker">
                                      {% for element in bidule['Teinte'] %}
                                      <option>{{ element}}</option>
                                      {% endfor %}
                                      <td scope="row"><select class="selectpicker">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      </td>
                                      <td> {{ bidule['Prix']}} €</td>
                                      <td>
                                        <input id="checkbox" type="checkbox">
                                      </td>
                                    </tr>
                                  {% endfor %}
                                    {% endfor %}


                                  </tbody>
                                </table>
                                </div>
                                </div>
                                {% endfor %}
                            </div>


                          </div>

                          <div class="col-md-3">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="row">

                                    <table class="col-lg-12">
                                    <tr>
                                    <td class="col-lg-6 ">
                                    Panier
                                    </td>
                                    <td class="col-lg-6 pull-right">

                                    <span onclick="window.print();" class="glyphicon glyphicon-print"></span>
                                    </td>
                                    <tr>
                                    </table>


                                </div>
                              </div>
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-md-12">
                                    <strong>Gamme Premium</strong>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                  <br />
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    Nombre d'options : 6
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                  <br />
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Voir les options choisies</button>
                                    <div id="demo" class="collapse">
                                      <ul>
                                        <li>Mur Exterieur - Fenetre Aluminium : 250€ / pièce</li>
                                        <li>Mur Exterieur - Porte Bois : 600€ / pièce</li>
                                        <li>Mur Interieur - Revetement Peinture : 250€ / pièce</li>
                                        <li>Mur Interieur - Matière Beton : 600€ / pièce</li>
                                        <li>Toiture - Fenetre Velux : 250€ / pièce</li>
                                        <li>Toiture - Couverture Toiture : 600€ / pièce</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                  <br />
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                    Prix total : <strong>25 523€</strong>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12">
                                  <br />
                                  </div>
                                </div>
                                <div class="row">
                                  {# <div class="col-md-4">
                                    <input class="btn btn-success" type="button" value="Imprimer">
                                  </div> #}
                                  <div class="col-md-4">
                                    <input class="btn btn-success" type="button" value="Archiver">
                                  </div>
                                  <div class="col-md-4">
                                    <input class="btn btn-success" type="button" value="Commander">
                                  </div>
                                </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="row">
                                  <div class="col-md-12">
                                    Aperçu de votre future maison !
                                  </div>
                                </div>
                              </div>
                              <div class="panel-body">
                                <a href='http://guilde.heros.free.fr/maison3d/index2.html' target = "_blank">
                                <img src="img/ext.png" alt="ext" style="max-height:200px;text-align: center;" class="imgpreview"/>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12"><a href="/">
                            <input class="btn btn-primary" type="button" value="Retour"></a>
                          </div>
                        </div>
                        </div>
                        <script>
                          $("#goto").on("click", function(){
                            var txt = $(".descriptif")[0].firstChild.data;
                            if(txt == "Exterieur"){
                              $("#int").removeClass("hidden");
                              $("#ext").addClass("hidden");
                              $(".descriptif").html("Interieur");
                              $("#goto")[0].value = "Exterieur";
                            }
                            else{
                              $("#int").addClass("hidden");
                              $("#ext").removeClass("hidden");
                              $(".descriptif").html("Exterieur");
                              $("#goto")[0].value = "Interieur";
                            }
                          });
                        </script>
                      {% endblock %}
